:root {
--primary-color: #c72727;
--secondary-color: #f99500;
--light-color: #ccc;
--dark-color: #333;
--max-width: 1200px
}

.category {
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
    background: var(--light-color);
 }

 a {
     color: #333;
     text-decoration: none;
 }

 ul{
     list-style: none;
 }

 img {
     width: 100%;
 }

 h1, h2, h3, h4, h5, h6 {
     font-family: 'staatlilches', cursive;
     margin: auto;
     margin-bottom: .55rem;
     line-height: 1.3;
 }

 /* utility */
 .container {
     max-width: var(--max-width);
     margin: auto;
     padding: 0 2rem;
     overflow: hidden;
 }

 .category {
     display: inline-block;
     font-size: .7rem;
     padding: 0.4rem 0.6rem;
     border-radius: 10px;
     margin-bottom: 1rem;
    text-transform: uppercase;
 }

.py-1 { padding:1.5rem 0}
.py-2 { padding:2rem 0}
.py-3 { padding:3rem 0}
.p-1 { padding:1.5rem }
.p-2 { padding:1.5rem }
.p-3 { padding:1.5rem }

.bg-primary {
    background: var(--primary-color);
    color: white;
}


.bg-dark {
    background: var(--dark-color);
    color: #fff;
}

.bg-secondary {
    background: var(--secondary-color);
    color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
    color: #fff;
    background: black
}

 .category-sport { background: var(--sports-color);}
 .category-ent { background: var(--ent-color);}
 .category-tech { background: var(--tech-color);}

.card {
    background: #fff;
    padding: 1rem;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #444 solid 1px;
}

.list li a:hover{
    color: var(--primary-color) !important;
    font-size: 1.2rem;
}

.btn {
    display: inline-block;
    background: black;
    color: #fff;
    padding: .5rem .55rem;
    margin-top: 1rem;
    border: none;
}

.footer {
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    /* display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center; */
    border-radius: 5px;
}

.btn-light {background: var(--light-color);}
.btn-primary { background: var(--primary-color);}
.btn-secondary { background: var(--secondary-color);}

/* btn-primary hover  */
.btn-primary:hover {
    opacity: 0.6;
}
 /* Navigation */
 #main-nav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
 }
 /* The main-nav container section */
 #main-nav .container {
     display: grid;
     grid-template-columns: 6fr 3fr 2fr;
     padding: 1rem;
     align-items: center;
 }

 #main-nav img {
     width: 180px;
 }

 #main-nav ul {
    justify-self: end;
    display: flex;
 }

 #main-nav ul li a {
     padding: 0.50rem;
     font-weight: bold;
 }

 #main-nav ul li a.current {
    background: var(--primary-color);
 }

  #main-nav ul li a:hover {
    background: var(--light-color)
 }

#main-nav .social {
    justify-self: center;
    padding: .50rem;
}

#main-nav .social i {
    margin-left: .50rem;
}

#main-nav .social .facebook,
#main-nav .social .twitter {
    color: blue;
}

#main-nav .social .instagram {
    color: palevioletred;
}

#main-nav .social .youtube {
    color: red;
}

#showcase {
    position: relative;
    /* width: 100%;
    height: 100%; */
    padding: 3rem;
    background: black;
    color: #fff;
}

#showcase:before {
    content: '';
    position: absolute;
    width: 100% ;
    height: 100% ;
    background: url('../img/featured.jpg') no-repeat center center/cover;
    top: 0;
    left: 0;
    opacity: 0.4;
}

#showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh;
    height: 100%;
}

#showcase .showcase-content {
    z-index: 1;
    width: 100%;
    height: 100%;
}

#showcase .showcase-content h3 {
    font-size: .6rems;
}

#showcase .showcase-content p {
    font-size: .70rem ;
}

#home-article .article-packs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
}

#home-article .article-packs > *:first-child,
#home-article .article-packs > *:last-child {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 1/span 2;
    grid-gap: 1rem;
    align-items: center;
}

#home-article .article-packs > *:last-child {
    grid-column: 2/span 2
}

#main-footer {
    background: var(--dark-color);
    color: #fff;
}

#main-footer img {
    width: 150px;
}

#main-footer .footer-container h3,
#main-footer .footer-container p,
#main-footer .footer-container a{
    color: #fff;
}

#main-footer .footer-container  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

#main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: 0.4rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    border: none;
}

#main-footer .footer-container input[type='submit'] {
    width: 90%;
    padding: 0.4rem;
    border: none;
    border-radius: 4px;

}

#main-footer .footer-container > *:nth-child(3) {
    justify-self: center;
}

#main-footer .footer-container > *:nth-child(2) {
    justify-self: center;
}

#main-footer .footer-container > *:last-child {
    background: #444;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-column: 1 / span 4;
    text-align: center;
}